name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - run: mv rust-toolchain.toml rust-toolchain.toml.bak
    - name: Install Rust for Xtensa
      uses: esp-rs/xtensa-toolchain@v1
      with:
        default: false
        version: "1.57.0.2"
        ldproxy: true
    - run: mv rust-toolchain.toml.bak rust-toolchain.toml
    - name: Build
      run: cargo build --verbose
    - name: Build example m5atom
      run: cargo build --example=m5atom --verbose
    - name: Test
      run: cargo +stable test --target x86_64-unknown-linux-gnu --lib
